@charset 'utf-8';

@import './_vars.css';

@import './_vars.css';

.list__blog {
  padding: $space-large 0;
  &:first-of-type {
    padding-top: unset;
  }
  & a {
    width: 330px;
    & .list__blog--image {
      border-radius: $space-xsmall;
      & small {
        position: absolute;
        bottom: 0;
        left: 0;
        background: color($color-darker a(80%));
        border-radius: 0 $space-xxsmall 0 0 / 0 $space-xxsmall 0 0;
      }
    }
    @media(--breakPC) {
      width: 33%;
    }
    @media(--iPad) {
      width: 100%;
    }
  }
  & .list__blog--contents {
    width: 660px;
    & .title {
      margin-top: -4px;
      @media(--iPad) {
        font-size: 20px;
      }
    }
    & .description {
      font-size: 16px;
      @media(--iPad) {
        font-size: 13px;
      }
    }
    @media(--breakPC) {
      width: 65%;
    }
    @media(--iPad) {
      margin-top: $space-small;
      width: 100%;
    }
  }
}
