@charset 'utf-8';

@reset-global pc;

* { box-sizing: border-box;}

body {
  color: $color-darker;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-feature-settings: "palt";
  letter-spacing: 1px;
  @media(--iPad) {
    font-size: 16px;
  }
}

main {
  width: $large-width;
  margin: 140px auto 80px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex: 1;
  @media(--breakPC) {
    width: 100%;
    padding: 0 $space-small;
  }
  @media(--iPad) {
    margin: 120px auto 60px;
    padding: 0 $space-xsmall;
  }
}

img { 
  display: block;
  width: 100%;
  vertical-align: bottom;
  max-width: 100%;
}

button { 
  transition: 0.3s; 
  background: unset; 
  border: unset; 
  outline: unset; 
  padding: unset; 
  cursor: pointer;
}

hr { 
  margin: $space-xxxlarge 0; 
  border: 0;
  border-top: 1px solid $color-darkgray;
  @media(--smartphone) {
    margin: $space-xxlarge 0;
  }
}

h1 {
  font-size: 34px;
  font-weight: $fw-bold;
  @media(--iPad) {
    font-size: 24px;
  }
}

h2 {
  font-size: 30px;
  font-weight: $fw-bold;
  @media(--iPad) {
    font-size: 22px;
  }
}

h3 {
  font-size: 24px;
  font-weight: $fw-bold;
  @media(--iPad) {
    font-size: 18px;
  }
}

em {
  font-style: unset;
  font-weight: $fw-bold;
}

a {
  color: $color-darker;
  word-break: break-all;
  text-decoration: none;
  &:hover {
    opacity: 0.4;
    @media(--smartphone) {
      opacity: unset;
    }
  }
}

p {
  margin: $space-xxlarge 0;
  @media(--smartphone) {
    margin: $space-large 0;
  }
  &:first-of-type { margin-top: unset;}
  &:last-of-type { margin-bottom: unset;}
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  @mixin ulolStyle;
}

blockquote {
  font-size: 16px;
  border: 2px solid $color-lightest;
  border-radius: $radius;
  margin: $space-xxlarge 0;
  padding: $space-small;
  & p {
    margin: 0 !important;
  }
  @media(--smartphone) {
    font-size: 14px;
    margin: $space-large 0;
    padding: $space-xsmall;
  }
}

code {
  font-size: 16px !important;
  &.language-text {
    padding: 4px !important;
    color: $color-red !important;
    text-shadow: none !important;
    background: $color-lightest !important;
  }
  @media(--smartphone) {
    font-size: 14px !important;
  }
}

iframe {
  border: none;
}
