@charset 'utf-8';

.post__wrapper {
  & h1, & h2, & h3 {
    line-height: normal;
  }
  & h2 {
    margin: $space-xxlarge 0;
    @media(--iPad) { 
      margin: $space-large 0;
    }
  }
  & h3 {
    margin: $space-xxlarge 0;
    padding: $space-xsmall $space-small;
    background: $color-lightest;
    border-radius: $radius;
    @media(--iPad) { 
      margin: $space-xlarge 0;
      padding: $space-xsmall;
    }
  }
  & h4 {
    position: relative;
    padding-left: 28px;
    margin: $space-small auto;
    font-weight: $fw-bold;
    &:before {
      position: absolute;
      left: 0;
      top: $space-xxsmall;
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background-image: url("/images/icons/icon_check.svg");
      background-repeat: no-repeat;
    }
    &.is-cross {
      &:before {
        background-image: url("/images/icons/icon_cross.svg");
      }
    }
  }
  & strong {
    font-weight: $fw-bold;
  }
  & ul {
    list-style-type: disc;
  }
  & ol {
    list-style-type: decimal;
  }

  & ul, & ol {
    @mixin ulolStyle;
  }
  & a {
      text-decoration: underline;
  }
  & p {
    &:first-of-type { margin-top: $space-large;}
    &:last-of-type { margin-bottom: $space-large;}
  }
  & strong {
    background: linear-gradient(transparent 60%,color(#ffdfef a(100%)) 0);
  }
  & img {
    border-radius: 20px;
    margin: $space-large auto;
  }
  & video {
    width: 100%;
    display: block;
    margin: $space-large auto;
    border-radius: 20px;
    border: 1px solid $color-lighter;
    outline: none;
  }
  & dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: $space-small auto;
    border: 1px solid $color-lighter;
    border-radius: $radius;
    line-height: 1.5;
    & dt {
      width: 100%;
      padding: $space-xsmall;
      background: $color-lightest;
      text-align: center;
      font-size: 14px;
      font-weight: $fw-bold;
    }
    & dd {
      display: flex;
      align-items: center;
      padding: $space-xsmall;
      border-top: 1px solid $color-lighter;
      font-size: 13px;
      &.u-w-30 {
        border-right: 1px solid $color-lighter;
      }
    }
  }
  & .affiliate__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto $space-large;
    padding: $space-small $space-xsmall;
    border: 1px solid $color-lighter;
    border-radius: $radius;
    & .is--image {
      position: relative;
      width: 50%;
      display: block;
      margin: 0 auto $space-xsmall;
      & a {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    & .is--caption {
        width: 100%;
        & a {
          display: flex;
          justify-content: center;
          line-height: 1.75;
          font-size: 20px;
          font-weight: $fw-bold;
        }
        & small {
          display: flex;
          color: $color-lightgray;
        }
    }
    & .button__link {
        text-decoration: none;
    }
    & img {
      border-radius: 0;
      margin: 0;
      border: none;
    }
    & p {
      width: 100%;
      margin: auto;
    }
  }
  & .post--contents {
    & ul {
      background: unset;
      border: 1px solid $color-lighter;
      list-style-type: none;
      padding: $space-xsmall $space-xsmall 0 $space-xsmall;
      margin: $space-xsmall 0;
      & li {
        border-bottom: 1px solid $color-lighter;
        & a {
          display: block;
          padding: $space-xxsmall 0;
          width: 100%;
          text-decoration: none;
          font-size: 14px;
          color: $color-darkgray;
        }
        &:last-of-type {
          border-bottom: none;
        }
      }
      &::before {
        content: '目次';
      }
      &:nth-child(n + 2) {
        border: none;
        margin: 0;
        padding: 0 $space-xsmall;
        &::before {
          content: '';
        }
      }
    }
  }
  & .post__movie--wrap {
    position: relative;
    margin: 60px auto;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: $radius;
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @media(--smartphone) { 
      width: 100%;
    }
  }
  & .breadcrumb {
    margin-right: 12px;
    &::after {
      position: absolute;
      right: -10px;
      content: '、';
    }
    &:last-of-type {
      margin-right: $space-small;
      &::after {
        position: absolute;
        right: -16px;
        content: '>';
      }
    }
  }
  & .badge--store {
    display: block;
    & img {
      border-radius: 0;
      margin: auto;
    }
  }
  & .badge--apple__store {
    max-width: 160px;
  }
  & .badge--google__store {
    max-width: 200px;
  }
  @media(--iPad) {
    width: 100%;
  }
}
